{
	"auth": {
		"alliance": "Confederation of xXPIZZAXx",
		"allianceshort": "PIZZA",
		"domain": "xxpizzaxx.com"
	},
	"pingbot": {
		"username": "pingbot",
		"passwd": "",
		"domain": ""
	},

	"keytools": {
		"executorkeyid": "",
		"executorkeyvcode": "",
		"alliancelimit": 4.9
	},

	"groups": {
		"closedgroups": [
			"admin",
			"ping",
			"capital"
		],
		"opengroups": [
			"dota",
			"social"
		],
		"publicgroups": [
			"dota"
		]
	},
	"ts3": {
		"user": "serveradmin",
		"password": "",
		"server": "",
		"port": 10011,
		"servergroups":	{
			"full": "1",
			"ally": "2",
			"none": "3"
		}
	},
        "mumble": {
                "server": "example.com"
        },

	"ldap": {
		"server": "ldap://localhost/",
		"admin": "cn=admin,dc=yoursite,dc=com",
		"password": "",
		"basedn": "dc=yoursite,dc=com",
		"memberdn": "ou=People,dc=yoursite,dc=com"
	},

	"skillindexer": {
		"server": "localhost",
		"user": "authuser",
		"password": "",
		"database": "auth"
	}

}
