{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block header %}Forgot Password{% endblock %}
{% block body %}
	<div class="row">
	<form class="well form-inline span8 offset2 custom-form" name="forgot_password" action="/forgot_password" method="post" id="forgot_password">
		<div class="control-group">
			<div class="controls">
				<div class="clearfix">
				<label for="username">Username</label><input class="form-control" id="username" type="text" name="username"/>
				</div>
				<div class="clearfix">
				<label for="email">Email</label><input class="form-control" id="email" type="text" name="email" />
				</div>
			</div>
			<br />
			<div class="controls">
				<button type="submit" class="btn btn-primary" value="submit" />Submit</button>
			</div>
	</form>
	</div class="row">
	<script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
	<script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
	<script>
		$( "#forgot_password" ).validate({
			rules: {
				username: "required",
				email: {
					required: true,
					email: true
				}
			}
		});
	</script>
{% endblock %}
