{% extends "base.html" %}
{% block title %}{{ config["auth"]["allianceshort"] }} Auth System{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<div class="masthead jumbotron">
	<div class="container">
		<h1>Welcome to {{ config["auth"]["allianceshort"] }} Auth</h1>
		<p>This site allows you to sign up for {{ config["auth"]["alliance"] }}-related services and configure your existing accounts, available services include:</p>
			<ul>
				<li>Teamspeak3</li>
				<li>Jabber (Public and Private)</li>
				<li>Timerboards</li>
				<li>and more...</li>
			</ul>
		<p><a href="/signup" style="width:100%" class="btn btn-primary btn-lg">Register now</a></p>
	</div>
</div>
{% endblock %}
