{% extends "base.html" %}
{% block title %}{{ config["auth"]["allianceshort"] }} Auth System{% endblock %}
{% block header %}{% endblock %}
{% block body %}

<style type="text/css">
	.carousel-caption {
		color: #000;
		text-shadow: 0 1px 2px rgba(116, 116, 116, 0.6);
	}
</style>
<script type="text/javascript">
window.onload=function(){
	$('.carousel').carousel({
		interval: 4000
	})
}
</script>


<div id="carousel-example-generic" class="carousel slide" >
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<div class="inner-item">
				<a href="http://timers.xxpizzaxx.com">
					<img src="static/img/timerboard.png" data-src="holder.js/900x350/auto/#555:#333/text:timerboard" alt="timerboard logo">
				</a>
			</div>
			<div class="carousel-caption">
				OI Order Board
			</div>
		</div>
		<div class="item">
			<div class="inner-item">
				<a href="http://pizza.eve-kill.net">
					<img src="static/img/killboard.png" data-src="holder.js/900x350/auto/#555:#333/text:timerboard" alt="pizza killboard logo">
				</a>
			</div>
			<div class="carousel-caption">
				OI Killboard
			</div>
		</div>
		<div class="item">
			<div class="inner-item">
				<a href="http://wiki.xxpizzaxx.com">
					<img src="static/img/wiki.png" data-src="holder.js/900x350/auto/#555:#333/text:timerboard" alt="pizza wiki logo">
				</a>
			</div>
			<div class="carousel-caption">
				OI Wiki
			</div>
		</div>

	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="icon-next"></span>
	</a>
</div>

{% endblock %}
