{% extends "base.html" %}
{% block title %}User Signup{% endblock %}
{% block header %}User Signup{% endblock %}
{% block body %}
	<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
			<span class="sr-only">75% Complete</span>
		</div>
	</div>
	<h2>Create Account</h2>
	<div class="row well form-inline custom-form">
		<h3>Character</h3>
			<table class="table">
				<tr>
					<th scope="row">Character</th>
					<td>{{ character["name"] }}</td>
				</tr>
				<tr>
					<th scope="row">Corp</th>
					<td>{{ character["corporationName"] }}</td>
				</tr>
				<tr>
					<th scope="row">Alliance</th>
					<td>{{ character["allianceName"] }}</td>
				</tr>
				<tr>
					<th scope="row">Eligibility</th>
					<td>{{ character["result"] }}</td>
				</tr>
			</table>
		<h3>Account Settings</h3>
		<form id="account" name="account" action="/create_account" method="post">
			<table class="table">
				<tr>
					<th scope="row">Username</th>
					<td>{{ session["username"] }}</td>
				</tr>
				<tr>
					<th scope="row"><label for="email">Email Address</label></th>
					<td><input id="email" type="text" name="email" class="form-control"/></td>
				</tr>
				<tr>
					<th scope="row"><label for="password">Password</label></th>
					<td><input id="password" type="password" name="password" class="form-control" /></td>
				</tr>
				<tr>
					<th scope="row"><label for="password_confirm">Confirm Password</label></th>
					<td><input id="password_confirm" type="password" name="password_confirm" class="form-control" /></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-primary" value="submit" />Submit</button>
		</form>
		<script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
		<script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
		<script>
			$( "#account" ).validate({
				rules: {
					email: {
						required: true,
						email: true
					},
					password: "required",
					password_confirm: {
						equalTo: "#password"
					}
				}
			});
		</script>

		</div>
{% endblock %}
